.construccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.construccion__img{
    border-radius: 50%;
    width: 30vw;
    margin: 5vh 35vw;
}

.construccion__titulo, .construccion__link{
    text-align: center;
}

.construccion__titulo {
    font-weight: 700;
    font-size: 4rem;
}

.construccion__link {
    margin-top: 2rem;
    color: #5697f8;
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.2;
}
.construccion__link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1024px){
    .construccion img{
        width: 40vw;
        margin: 5vh 30vw;
    }
    .construccion__titulo {
        font-size: 3rem;
    }
    .construccion__link {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 600px){
    .construccion img{
        width: 60vw;
        margin: 10vh 20vw;
    }
    .construccion__titulo {
        font-size: 2rem;
    }
    .construccion__link {
        font-size: 1.5rem;
    }
}