*{
    box-sizing: border-box;
}
body{
    background: #F5F5F5;}
.nuevo-producto{
    display: flex;
    flex-direction: column;
}

.nuevo-producto__imagen{
    display: flex;
    justify-content: center;
    margin: 2rem 25vw;
}

.nuevo-producto__arrastrar-imagen{
    border: 2px dashed #C8C8C8;
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
    height: 13rem;
    width: 25rem;
    background: #fff;
}
.nuevo-producto__arrastrar-imagen p{
    color: #6B6B6B;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem 2rem;
}
.nuevo-producto__arrastrar-imagen i{
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    color:#C8C8C8;
}

.nuevo-producto__p{
    margin: 6.5rem .5rem 0 0;
}
.nuevo-producto__boton-agregar{
    margin-top: 5.5rem;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 1rem;
}
.nuevo-producto__boton-agregar:hover{
    cursor: pointer;
}
.nuevo-producto__input{
    display: none;
}

.nuevo-producto__nombre, .nuevo-producto__precio, .nuevo-producto__descripcion{
    padding: .5rem;
    border: none;
    border-bottom: 2px solid #C8C8C8;
    outline: none;
    height: 4rem;
    width: 40vw;
    margin: .5rem 30vw;
} 