.portada{
    background-image: url(../img/portada-hongo.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 55vh;
}

.portada__contenido{
    padding: 15vh 0 0 8rem;
}

.portada__titulo{
    color: #ffffff;
    font-weight: 700;
    font-size: 4rem;
    padding-bottom: 1.5rem;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.portada__descripcion{
    color:#ffffff;
    font-weight: 700;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.portada__boton{
    background: #2A7AE4;
    color: #ffffff;
    padding: 1.25rem 2rem;
    transition: all .2s;
}
.portada__boton:hover{
    cursor: pointer;
    background: #619ff1;
}

@media screen and (max-width: 1024px) {
    .portada__contenido{
        padding: 15vh 0 0 1.5rem;
    }
   
}

@media screen and (max-width: 600px) {
    .portada{
        height: 34vh;
    }
    .portada__titulo{
        font-size: 1.75rem;
    }
    .portada__descripcion{
        font-size: .9rem;
        font-weight: 500;
    }
    .portada__contenido{
        padding: 14vh 0 0 1rem;
    }
    .portada__boton{
        font-size: .75rem;
        padding: 1rem 1.5rem;
    }
}