.producto{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.producto__contenido{
    margin: 4rem 8rem 0 0;
}

.producto__titulo{
    margin-bottom: .5rem;
    font-size: 4rem;
    font-weight: 500;
}

.producto__precio{
    font-weight: 700;
    margin-bottom: .5rem;
}

.producto__img{
    size: 35vw;
    margin: 0 1rem 0 8rem;
}